//*GENERAL*//
a .btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: none;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: none;
    background-color: yellow;
    background-position: 100% 0;
    background-size: 300%;
}
li {
    list-style-type: none;
}
h2 {
    color:aqua;
}